.Titre h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.Titre p {
  font-size: 18px;
  color: #d1d1d1;
  text-align: center;
}

.large-logo {
  margin: 20px 0;
  text-align: center;
}

.large-logo img {
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.video-section {
  margin-top: 30px;
  text-align: center;
}

.video-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d1d1d1;
}

.presentation {
  margin: 20px 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.presentation h2 {
  font-size: 28px;
  color: ghostwhite;
  margin-bottom: 15px;
}

.presentation p {
  font-size: 18px;
  line-height: 1.6;
}

.video-section {
  margin-top: 30px;
  text-align: center;
}

.video-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #d1d1d1;
}