@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #1e1e1e, #282828);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header a {
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: gray;
}

nav a.active {
    background-color: gray;
}

/* Main Section */
main {
    padding: 40px 20px;
}

.activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.activity {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color:black;
}

.activity:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.activity h2 {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.activity-image img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.activity-details {
    padding: 20px;
    background-color: #f7f7f7;
}

.activity-details p {
    margin: 10px 0;
    font-size: 16px;
}

.activity-details strong {
    font-weight: bold;
}

/* Responsiveness */
@media (max-width: 768px) {
    .activities {
        grid-template-columns: 1fr;
    }
}
